.pagination {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cat3ml{
  font-size: larger;
}

main {
  padding: 3rem;
}

.cat-name {
  margin: 1rem;
}

.navbar {
  padding: 0.3rem;
}

.navbar-brand-img {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0.5rem;
}
.navbar-brand > img {
  height: 2.6rem;
  width: auto;
}

.subcatalog {
  font-weight: bold;
}

.row {
  margin-bottom: .3rem;
}

@media only screen and (max-width: 768px) {
  .cat-name {
    margin-top: 3rem;
  }
  main {
    padding: 1rem;
  }
}
